.main-container {
	display: flex;
	height: 100vh;
}
.main-container aside {
	flex-basis: 20%;
	background-image: url('../images/img_nav.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom top;
	display: flex;
	flex-direction: column;
}
.main-container main {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}
.main-container main .main-panel {
	flex-grow: 1;
	background-color: #eee;
	width: 90%;
	margin: 0 auto 20px;
	border-radius: 20px;
	padding: 15px;
	border: 1px solid black;
}
