
.transactions-update-header{
    text-align: center;
    font-size: 26px;
    padding:10px;
    margin-bottom: 10px;
}
button.transactions-update-button{
    position: absolute;
    bottom:80px;
    left:50%;
    transform: translateX(-50%);
    border-radius:3px;
}
button.transactions-update-button a{
    display: block;
    text-decoration: none;
    color:black;
    padding: 5px 10px;
}