.start-main {
	display: flex;
	height: 100vh;
}
.photo,
.start-content {
	flex-basis: 40%;
}
.photo {
	background-image: url('../images/flower.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	min-height: 100vh;
	flex-basis: 60%;
}
.start-content {
	display: flex;
	flex-direction: column;
	padding: 20px;
	margin-top: 30px;
	margin-bottom:5px;
}

.start-content h2 + p {
	width: 80%;
}
.start-content .login {
	flex-grow: 1;
}
.start-content .about-us {
	text-align: center;
}

.start-content .start-options {
	display: flex;
	margin-bottom: 20px;
}
.start-content .start-options .options {
	color: rgb(76, 100, 194);
	border: none;
	background-color: #fff;
	border-bottom: 4px solid rgb(76, 100, 194);
	padding: 3px 15px;
	cursor: pointer;
}
.start-content .start-options .options.isLogin {
	color: rgba(76, 100, 194, 0.576);
	border-bottom: 4px solid rgba(76, 100, 194, 0.576);
}

.start-content .about-us button {
	background-color: transparent;
	padding: 0 15px;
	border-radius: 20px;
	border-color: black;
}


@media(min-width:1400px){
	.start-content {
		margin-top: 12rem;
		margin-bottom: 10px;

	}
}